<!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="dashboard.html">Django Open Med</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="/staff/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o fa-fw"></i> Calendar <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">View Calendar</a></li>
                <li><a href="#">Search Events</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o fa-fw"></i> Responses <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">View Responses</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> Patient / Clients <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> New Client</a></li>
                <li><a href="#"> View/Edit Clients </a></li>
                <li><a href="#"> Search Clients </a></li>
                <li><a href="#"> Import / Export </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> Accounting / Billing <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> Fee List</a></li>
                <li><a href="#"> Payment </a></li>
                <li><a href="#"> Checkout </a></li>
                <li><a href="#"> Billing </a></li>
                <li><a href="#"> Batch Payments </a></li>
                <li><a href="#"> EDI History </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> Procedures<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> Providers</a></li>
                <li><a href="#"> Configuration </a></li>
                <li><a href="#"> Load Compendium </a></li>
                <li><a href="#"> Pending Review </a></li>
                <li><a href="#"> Patient Results </a></li>
                <li><a href="#"> Electronic Reports </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> Insurance <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> Fees</a></li>
                <li><a href="#"> View Providers </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> Medical Coding <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> ICD9 </a></li>
                <li><a href="#"> ICD10 </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-group fa-fw"></i> Administration <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> Global Settings </a></li>
                <li><a href="#"> New Employee </a></li>
                <li><a href="#"> View/Edit Employees </a></li>
                <li><a href="#"> Address Book </a></li>
                <li><a href="#"> Practice Settings </a></li>
                <li><a href="#"> File Manager </a></li>
                <li><a href="#"> Database Tools </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-edit fa-fw"></i> Form Management <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> Create Form </a></li>
                <li><a href="#"> View/Edit Forms </a></li>
                <li><a href="#"> Import / Export </a></li>
                <li><a href="#"> Send Form </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-group fa-fw"></i> Reminders / Rules <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> Create Reminder </a></li>
                <li><a href="#"> View / Edit Reminders </a></li>
                <li><a href="#"> Create Rule </a></li>
                <li><a href="#"> View / Edit Rules </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-group fa-fw"></i> Reports <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> Clients </a></li>
                <li><a href="#"> Clinic </a></li>
                <li><a href="#"> Visits </a></li>
                <li><a href="#"> Financial </a></li>
                <li><a href="#"> Procedures </a></li>
                <li><a href="#"> Insurance </a></li>
                <li><a href="#"> Services </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-group fa-fw"></i> Notes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> New Note </a></li>
                <li><a href="#"> View / Edit Notes </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-group fa-fw"></i> Miscellaneous <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"> Patient Education </a></li>
                <li><a href="#"> Authorizations </a></li>
                <li><a href="#"> Order Catalog </a></li>
              </ul>
            </li>
          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">*</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Success <span class="label label-success"> Form Submission Success</span></a></li>
                <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                <li><a href="#">Warning <span class="label label-warning">Warning - Possible Failure</span></a></li>
                <li><a href="#">Danger <span class="label label-danger">Danger - Failure </span></a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-briefcase"></i> Profile </a></li>
                <li class="divider"></li>
                <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>