{% extends "account/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extra_head %}
<!-- Bootstrap core CSS -->
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="{% static 'js/html5shiv.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->
<!-- Load Flat UI -->
<link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<style>
   #social_account li
   {
   display: inline;
   list-style-type: none;
   padding-right: 50px;
   padding-left: 20px;
   }
</style>
{% endblock %}
{% block content %}
   <div class="container">
      <form role="form" class="form-signin" method="POST" action="{% url 'account_login' %}">
         {% csrf_token %}
         <div class="login">
            <div class="login-screen">
               <div class="login-icon">
                  <img src="{% static 'img/login/Clipboard.png' %}" alt="Welcome to Login Portal"/>
                  <h4> Welcome to <small> Login Portal </small></h4>
               </div>
               <div class="login-form">
                  <div class="form-group">
                     <input type="text" class="form-control login-field" placeholder="Enter your email address" id="id_login" name="login"/>
                     <label class="login-field-icon fui-user" for="email"></label>
                  </div>
                  <div class="form-group">
                     <input type="password" class="form-control login-field" placeholder="Password" name="password" id="id_password"/>
                     <label class="login-field-icon fui-lock" for="password"></label>
                  </div>
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                  <a class="login-link" href="{% url 'account_reset_password' %}">Lost your password?</a>
                  <ul id="social_account" class="socialaccount_providers">
                     {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </ul>
               </div>
            </div>
         </div>
      </form>
   </div>
   <!--/#containter-->
{% endblock %}
{% block extra_body %}
<!-- JavaScript -->
<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}